html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	float:left;
	height: 100%;
	width: 60%;
}
#info {
	text-align:center;
	float:left;
	height: 50%;
	width:40%;
}
#button {
	text-align:center;
	float:left;
	height: 50%;
	width:40%;
}
